<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.priome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
        <activity android:name=".EditAlarm"></activity>
        <activity
                android:name=".NewAlarm"
                android:label="NewAlarm"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".Sunrise"
                android:label="Sunrise"
                android:theme="@style/AppTheme.NoActionBar" />
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <receiver
                android:name=".AlarmReceiver"
        />
    </application>

</manifest>
